.tree{
  position: relative;
  width: 100%;

  .node {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 12px 8px;
    box-sizing: border-box;
    height: 60px;
    border-radius: 5px;
    flex: 1;
    background-color: white;
    user-select: none;
    cursor: pointer;
    transition: transform 0.5s;

    &__icon {
      margin-right: 5px;
    }

    &:hover {
      background-color: #DDDDDD;
    }
  }

  .folder {
    transition: transform 0.5s;
    position: absolute;
    width: 100%;

    .children {
      transition: clip-path 0.5s;
    }
  }
}
