.tree{
  position: relative;
  width: 100%;

  .node {
    position: absolute;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    padding: 12px 8px;
    box-sizing: border-box;
    height: 60px;
    border-radius: 5px;

    background-color: white;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: #DDDDDD;
    }
  }

  .folder {
    position: absolute;
    width: 100%;
  }
}
